.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    min-height: 3.5rem;
    background-color: #000;
    color: #fff;
}

.navbar-brand {
    font-size: 1.1rem;
    color: #fff !important;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-gear-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-gear-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zm5.668 4.73c.082-.527.122-1.06.122-1.606 0-.546-.04-1.079-.122-1.606l1.518-1.18a.12.12 0 0 0 .028-.154l-1.438-2.49a.12.12 0 0 0-.14-.057l-1.79.72a6.766 6.766 0 0 0-1.39-.805l-.27-1.96A.116.116 0 0 0 10.29 1h-2.58a.116.116 0 0 0-.115.098l-.27 1.96a6.766 6.766 0 0 0-1.39.805l-1.79-.72a.12.12 0 0 0-.14.057l-1.438 2.49a.12.12 0 0 0 .028.154l1.518 1.18c-.082.527-.122 1.06-.122 1.606 0 .546.04 1.079.122 1.606l-1.518 1.18a.12.12 0 0 0-.028.154l1.438 2.49a.12.12 0 0 0 .14.057l1.79-.72c.43.33.89.6 1.39.805l.27 1.96a.116.116 0 0 0 .115.098h2.58a.116.116 0 0 0 .115-.098l.27-1.96a6.766 6.766 0 0 0 1.39-.805l1.79.72a.12.12 0 0 0 .14-.057l1.438-2.49a.12.12 0 0 0-.028-.154l-1.518-1.18zm-2.45 2.096a5.53 5.53 0 0 1-1.292.805l-.345 2.5a.12.12 0 0 1-.115.098h-2.58a.12.12 0 0 1-.115-.098l-.345-2.5a5.53 5.53 0 0 1-1.292-.805l-2.09.84a.12.12 0 0 1-.14-.057l-1.438-2.49a.12.12 0 0 1 .028-.154l1.518-1.18a5.52 5.52 0 0 1 0-1.606l-1.518-1.18a.12.12 0 0 1-.028-.154l1.438-2.49a.12.12 0 0 1 .14-.057l2.09.84c.43-.33.89-.6 1.292-.805l.345-2.5A.12.12 0 0 1 7.71 1h2.58a.12.12 0 0 1 .115.098l.345 2.5c.43.33.89.6 1.292.805l2.09-.84a.12.12 0 0 1 .14.057l1.438 2.49a.12.12 0 0 1-.028.154l-1.518 1.18a5.52 5.52 0 0 1 0 1.606l1.518 1.18a.12.12 0 0 1 .028.154l-1.438 2.49a.12.12 0 0 1-.14.057l-2.09-.84z'/%3E%3C/svg%3E");
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
